* {
	margin: 0px;
	padding: 0px;
	font-family: 'Do Hyeon', sans-serif;
}

#wrapper {
	height: 100%
	width: 100%;
}

img {
	height: 60px;
	width: 150px;
	border: 1px solid green;
}

#header {
	background-color: #989898;
	border: 1px solid green;
}

ul {
	list-style-type: none;
	padding: 30px;
	text-align: right;
	display: inline-block;
	border: 1px solid green;
}

li {
	display: inline;
	padding: 10px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: black;
	font-size: 150%;
}